<h2>Faça seu cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<section>
  <header></header>
  <main>

    <div class="container">

      <legend class="">Dados Pessoais</legend>
      <div class="">
        <%= f.label 'Nome, class: '' %>
        <%= f.text_field :name, autofocus: true, :class => "caixa-de-texto-cad borda-caixa-texto", :placeholder => "Ex: Youser da Silva Moraes" , :maxlength=> "50", :autocomplete => "off", required: true %>
      </div>

      <div class="">
        <%= f.label 'Sobrenome', class: '' %>
        <%= f.text_field :last_name, autofocus: true, :class => "caixa-de-texto-cad borda-caixa-texto", :placeholder => "Ex: Youser da Silva Moraes" , :maxlength=> "50", :autocomplete => "off", required: true %>
      </div>

      <div class="">
        <%= f.label 'Data de Nascimento', class: '' %>
        <%= f.date_field :data_nasc, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), autofocus: true, :class => "caixa-de-texto-cad borda-caixa-texto", :placeholder => "00/00/0000" , :maxlength=> "50", :autocomplete => "off", required: true %>
      </div>

      <div class="" data-placement="top" data-trigger="manual" data-toggle="popover" data-content="O  CEP não é válido" id="text-cep">
        <%= f.label 'CEP', class: '' %>
        <%= f.text_field :cep, autofocus: true, :class => "", :placeholder => "00000-000", :autocomplete => "off", required: true %>
      </div>

      <div class="">
        <%= f.label 'Estado', class: '' %>
        <%= f.select :estado, states, autofocus: true, :autocomplete => "off", required: true, readonly: true %>
        <small id="estadHelp" class="">*Campo não obrigatório</small>
      </div>

      <div class="">
        <%= f.label 'Cidade', class: '' %>
        <%= f.text_field :cidade, autofocus: true , :class => "", :placeholder => "Cidade", :autocomplete => "off", required: true %>
      </div>

      <div class="">
        <%= f.label 'Bairro', class: '' %>
        <%= f.text_field :bairro, autofocus: true, :class => "", :placeholder => "Estado", :autocomplete => "off", required: true %>
      </div>

      <div class="">
        <%= f.label 'Rua', class: '' %>
        <%= f.text_field :rua, autofocus: true, :class => "", :placeholder => "Logradouro", :autocomplete => "off", required: true%>
      </div>

      <div class="">
        <%= f.label 'Você possui/é algum desses itens?', class: '' %>
        <%= f.label :diabete, class: 'checkbox checkbox--space' do |label| %>
        <%= f.check_box :diabete %>
          <span class=""></span>
            Diabete
        <% end %>
      </div>

      <div class="">
        <%= f.label 'Possui crianças de até 10 anos na sua residência?', class: '' %>
        <%= radio_tag(
          name: 'life_order_flow_advisor_review[insured_person_attributes][complement_attributes][income_source]',
          value: 'employed',
          checked: @step_object.utm_from_caixaseguradora? ? nil : f.object.employed?,
          options: {
            id: 'life_order_flow_advisor_review_insured_person_attributes_complement_attributes_income_employed',
            tabindex: 8,
            class: "radio-button-wrapper",
            required: true,
            'data-insured-person-income-source': 'employed'
          }
        ) %>
        <%= f.label :income_source, 'Carteira assinada',
          for: 'life_order_flow_advisor_review_insured_person_attributes_complement_attributes_income_employed',
          class: 'form__label button-wrapper'
        %>
        <input type="radio" id="crianca_sim" value="sim"
         checked>
        <label for="sim">Sim</label>

        <input type="radio" id="crianca_nao" value="nao"
        checked>
       <label for="nao">Não</label>
      </div>

      <div class="">
        <%= f.label 'Possui pessoas da área de risco na sua residência?', class: '' %>
        <input type="radio" id="risco_sim" value="sim"
         checked>
        <label for="sim">Sim</label>
        <input type="radio" id="risco_nao" value="nao"
        checked>
       <label for="nao">Não</label>
      </div>
      

      <div class="">
        <%= f.label 'Email', :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      </div>

      <div class="">
        <%= f.label 'Senha' ,:password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", required: true %>
      </div>

      <div class="">
        <%= f.label 'Confirme sua senha',:password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
      </div>

      <div class="">
        <%= f.submit "Finalizar" %>
      </div>
    </div>

  </main>
  <footer></footer>
</section>

<% end %>

<%= render "devise/shared/links" %>